In [95]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [96]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint George,US,2020-11-03 19:05:54,37.10,-113.58,75.00,40,1,3.36
1,1,Lund,SE,2020-11-03 19:02:20,55.71,13.19,50.00,81,90,10.29
2,2,Castro,BR,2020-11-03 19:05:55,-24.79,-50.01,71.01,41,66,3.94
3,3,Atuona,PF,2020-11-03 19:05:55,-9.80,-139.03,77.85,71,0,18.05
4,4,Saskylakh,RU,2020-11-03 19:05:56,71.92,114.08,-1.32,92,95,3.85

In [97]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [98]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [99]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [100]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [103]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [104]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [105]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint George,US,2020-11-03 19:05:54,37.10,-113.58,75.00,40,1,3.36
3,3,Atuona,PF,2020-11-03 19:05:55,-9.80,-139.03,77.85,71,0,18.05
6,6,Kapaa,US,2020-11-03 19:05:56,22.08,-159.32,80.60,78,40,11.41
9,9,Soyo,AO,2020-11-03 19:05:57,-6.13,12.37,79.21,84,39,9.66
11,11,Sorsogon,PH,2020-11-03 19:05:57,12.97,123.99,79.30,82,100,3.29
13,13,Micheweni,TZ,2020-11-03 19:05:58,-4.97,39.83,78.19,79,0,10.33
14,14,Port Moresby,PG,2020-11-03 19:05:58,-9.44,147.18,77.00,88,75,3.36
16,16,Kudahuvadhoo,MV,2020-11-03 19:05:58,2.67,72.89,83.16,70,42,6.89
36,36,Butaritari,KI,2020-11-03 19:06:02,3.07,172.79,80.33,74,6,17.54
37,37,Cabedelo,BR,2020-11-03 19:06:02,-6.98,-34.83,84.20,62,40,12.75

In [106]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [107]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [108]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

             City Country  Max Temp    Lat     Lng Hotel Name
0    Saint George      US     75.00  37.10 -113.58
3          Atuona      PF     77.85  -9.80 -139.03
6           Kapaa      US     80.60  22.08 -159.32
9            Soyo      AO     79.21  -6.13   12.37
11       Sorsogon      PH     79.30  12.97  123.99
..            ...     ...       ...    ...     ...        ...
559        Ormara      PK     75.74  25.21   64.64
562       Limbang      MY     80.60   4.75  115.00
568       Tautira      PF     82.40 -17.73 -149.15
572         Dakar      SN     86.00  14.69  -17.44
573         Wamba      NG     78.58   8.93    8.60

[168 rows x 6 columns]

In [109]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

In [110]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [115]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint George,US,75.00,37.10,-113.58,Best Western Plus Abbey Inn
3,Atuona,PF,77.85,-9.80,-139.03,Villa Enata
6,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,Soyo,AO,79.21,-6.13,12.37,Hotel Mpampa
11,Sorsogon,PH,79.30,12.97,123.99,Rancho Lodge Sorsogon
...,...,...,...,...,...,...
559,Ormara,PK,75.74,25.21,64.64,
562,Limbang,MY,80.60,4.75,115.00,Purnama Hotel
568,Tautira,PF,82.40,-17.73,-149.15,Pension Oaoa
572,Dakar,SN,86.00,14.69,-17.44,Novotel Dakar
573,Wamba,NG,78.58,8.93,8.60,Roma Zee Guest House Annex

In [119]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [120]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))